/Fast_Food/accounts/__pycache__/*
/Fast_Food/accounts/migrations/*
/Fast_Food/admin/migrations/*
/Fast_Food/Fast_Food/__pycache__/*
/Fast_Food/loadimg/__pycache__/*
/Fast_Food/loadimg/migrations/*
/Fast_Food/pageadmin/__pycache__/*
/Fast_Food/pageadmin/migrations/*

python_note.txt