{% load static %}

<!DOCTYPE html>
    <html lang="vi">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Trang chủ | KDC</title>
         <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'loadimg/css/main.css' %}" rel="stylesheet"/>
        <link href="{% static 'loadimg/css/slick.css' %}" rel="stylesheet"/>
        <link href="{% static 'loadimg/css/style.css' %}" rel="stylesheet"/>
        <link href="{% static 'loadimg/css/mobile.css' %}" rel="stylesheet"/>
        <link href="{% static 'loadimg/css/import.css' %}" rel="stylesheet"/>
        <link rel = "icon" href = "{% static 'loadimg/img/logo.png' %}" type = "image/x-icon">   
        <!--SCRIPT-->
        <script src="https://kfcvietnam.com.vn/templates/js/jquery.min.js"></script>
        <!--GOOGLE API-->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://kfcvietnam.com.vn/templates/js/popper.min.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/js/bootstrap.min.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/js/bootstrap-select.min.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/fancybox/jquery.fancybox.min.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/slick/slick.js"></script>
        <script src="https://kfcvietnam.com.vn/templates/js/script.js?v=6871"></script>
        <script type="text/javascript"> 
        var user = '{{request.user}}' 

        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
        </script>
        </head>
    <body>
        <div id="page">
            <div class="wrapper clearfix">
                <header id="header" class="clearfix">
                    <div class="container">
                        <!-- ke soc do o tren  -->
                        <div class="kesoc pc">
                            <div class="row no-gutters">
                                <div class="col"></div><div class="col"></div> <div class="col"></div> <div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-start">
                            <a class="navbar-brand">
                                <img class="pc" src="{% static 'loadimg/img/logo.png' %}">
                            </a>
                            <h4 style="margin-left:10%; font-size:2.0rem; font-style: italic; font-weight:bold">The best choices for you!</h4>
                            <div class="navbar-collapse justify-content-end offcanvas-collapse" id="navbar-collapse">
                                <div class="mb btn hamburger" data-target="#navbar-collapse"><i class="fal fa-times-circle"></i></div>
                                {% if user.is_authenticated %}
                                    <ul id="menu_top" class="navbar-nav">
                                        <li class="nav-item mb">
                                            <div class="lang_footer mb clearfix">
                                                <nav class="nav justify-content-start">
                                                    <a class="nav-link active" href="javascript:void(0);">
                                                        <span>VN</span>
                                                    </a>
                                                </nav>
                                            </div>
                                        </li>
                                        <li class="nav-item pc">
                                            <div class="select_header select_lang clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VN</a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item active" href="javascript:void(0);">VN</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="select_header select_user clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="{% url 'profile'%}" >{{user}}</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="select_header select_user clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="{% url 'logout' %}">Đăng xuất</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {%else%}
                                    <ul id="menu_top" class="navbar-nav">
                                        <li class="nav-item mb">
                                            <div class="lang_footer mb clearfix">
                                                <nav class="nav justify-content-start">
                                                    <a class="nav-link active" href="javascript:void(0);">
                                                        <span>VN</span>
                                                    </a>
                                                </nav>
                                            </div>
                                        </li>
                                        <li class="nav-item pc">
                                            <div class="select_header select_lang clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">VN</a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item active" href="javascript:void(0);">VN</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="select_header select_user clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="{% url 'login' %}" >Đăng nhập</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="select_header select_user clearfix">
                                                <div class="dropdown">
                                                    <a class="btn btn-default dropdown-toggle" href="{% url 'register' %}">Đăng ký</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {%endif%}    
                                
                            </div>
                      
                        </nav>
                        <div>
                            <div class ='container'>
                                {% if messages %}
                                    {% for message in messages%}
                                        <div class ="alert alert-{{message.tags}}">{{message}}</div>
                                    {% endfor%}
                                {% endif%}
                            </div>
                            
                            
                            {% block content%}
                            {% endblock content%}
                        </div>
                </section>
                <footer id="footer" class="clearfix">
                    <div class="container">
                        <div class="lang_footer mb clearfix">
                            <nav class="nav justify-content-center">
                                <a class="nav-link active" href="javascript:void(0);"><span>VN</span></a>
                            </nav>
                        </div>
                        <div class="footer_top">
                            <div class="clearfix">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="card_item">
                                            <div class="card_item_header">
                                                <a href=""><span>Thực đơn</span></a>
                                            </div>
                                            <div class="card_item_header">
                                                <a href=""><span>Nhà hàng</span></a>
                                            </div>
                                            <div class="card_item_header">
                                                <a href=""><span>Tin khuyến mãi</span></a>
                                            </div>
                                            <div class="card_item_header">
                                                <a href=""><span>Đặt tiệc sinh nhật</span></a>
                                            </div>
                                            <div class="card_item_header">
                                                <a href=""><span>Thành viên</span></a>
                                            </div>
                                            <div class="card_item_header d-inline-block d-lg-none">
                                                <a href=""><span>Giới thiệu</span></a>
                                            </div>
                                            <div class="card_item_header d-inline-block d-lg-none">
                                                <a href=""><span>Nghề nghiệp</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card_item">
                                            <div class="card_item_header d-none d-lg-block">
                                                <a href=""><span>Giới thiệu</span></a>
                                            </div>
                                            <nav class="nav flex-column">
                                                <a class="nav-link" href=""><span>KDC</span></a>
                                            </nav>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-4">
                                        <div class="row no-gutters">
                                            <div class="col-6">
                                                <div class="card_item">
                                                    <div class="card_item_header">
                                                        <a href="javascript:void(0);"><span>Kết nối với KDC</span></a>
                                                    </div>
                                                    <nav class="nav flex-column">
                                                        <a class="nav-link" href="" "><span>Liên hệ</span></a>
                                                    </nav>
                                                </div>
                                            </div>
                                            <!-- icon facebook, youtube, instagram -->
                                            <div class="col-6">
                                                <div class="nav_social">
                                                    <ul class="nav justify-content-end">
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="" target="_blank"><img src="{% static 'loadimg/img/facebook.png' %}" alt=""></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" href="" target="_blank"><img src="{% static 'loadimg/img/youtube_new.png' %}" alt=""></a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link instagram" href="" target="_blank"><img src="{% static 'loadimg/img/instagram.png' %}" alt=""></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form_enews clearfix" id="newsletter">
                                                    <div class="form_enews_lb clearfix"><span>Đăng ký để nhận thông tin và đặt hàng tiện lợi hơn</span></div>
                                                    <input type="hidden" name="csrf_site_name" value="0aad1abe6cbbc6f6e9bf7b1dd3b53960" />
                                                    <div class="input-group">
                                                        <input type="text" name="email" class="form-control" placeholder="Nhập Email" aria-label="Nhập Email" value="" />
                                                        <div class="input-group-append">
                                                            <input type="hidden" name="action" value="1" />
                                                            <button class="btn btn-danger"><span>Đăng ký</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_bot">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-6">
                                    <div class="clearfix">
                                        <span>

                                            <p style="font-size:17px;"><strong>WEBSITE ĐẶT THỨC ĂN NHANH TIỆN LỢI KDC</strong></p>
                                            <table>
                                                <tr>
                                                    <th style="font-style: italic;">Các sinh viên thực hiện</th>
                                                    <th style="font-style: italic;" class="col-md-auto">Mã sinh viên</th>
                                                </tr>
                                                <tr>
                                                    <td>Nguyễn Hoàng Kim</td>
                                                    <td class="col-md-auto">102190072</td>
                                                </tr>
                                                <tr>
                                                    <td>Đinh Hoàng Đạt</td>
                                                    <td class="col-md-auto">102190056</td>
                                                </tr>
                                                <tr>
                                                    <td>Hà Tiến Chung</td>
                                                    <td class="col-md-auto">102190055</td>
                                                </tr>
                                            </table>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="text_copyright text-center clearfix">
                                        <span>
                                                <p style="font-size: 20px;">
                                                Lâp trình Python 19Nh10
                                                </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ke soc o duoi web -->
                        <div class="kesoc">
                            <div class="row no-gutters">
                                <div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div>
                            </div>
                        </div>
                    </div>

                </footer>
            </div>
        </div>
        <div id="fb-root"></div>
        <script type="text/javascript" src="{% static 'loadimg/js/cart_new.js' %}"></script>
     
    </body>
    </html>
