{% extends 'loadimg/base.html'%}
{% load static %}
{% block content%}
{% if user.is_authenticated %}
<div class="cart_box" id="cartBox">
    <div class="dropdown">
        <a class="btn dropdown-toggle" href="{%url 'cart'%}">
            <span class="icon">
                <span class="number" id="cartQty">{{cartItems}}</span>
            </span>
            <span class="text">Giỏ hàng</span>
            <span class="card-price" id="cartTotal"></span>
        </a>
    </div>
</div>
{% endif %}
<div class="row_main">
    <div id="sidebar" class="sidebar wap_nav_scroller">
        <div class="sidebar__inner wap_nav_fix">
            <div class="nav-scroller">
                <ul class="nav d-flex justify-content-start mb-0">
                    <li class="nav-item" id="headerMenuCate-14">
                        <a href="{% url 'home' %}" class="nav-link"><span>Combo 1 Người</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuCate-15">
                        <a href="{% url 'question_nhom' %}" class="nav-link"><span>Combo Nhóm</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuCate-13">
                        <a href="{% url 'question_uudai' %}" class="nav-link"><span>Menu Ưu Đãi</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuALaCarte">
                    </li>
                </ul>
            </div>
            <!-- <div class="deliver_wap">
                    <div class="ml-auto deliver_box d-flex justify-content-between align-items-lg-center align-items-end">
                        <div class="cot_left row no-gutters set_deliver_hover">
                            <div class="col-12 col-lg-auto deliver_light"><span>Giao hàng đến:</span>
                            </div>
                            <div class="col-12 col-lg-auto deliver_bold"><span  title="Đà Nẵng">Đà Nẵng</span>
                            </div>
                        </div>
                        <div class="cot_right">
                        <div class="clearfix deliver_bold"><a href=""><span>Thay đổi <i class="fas fa-chevron-right"></i></span></a></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
        </div>
</header>		  
<section id="homepage">
<div class="container">
    <div class="banner_slider mb-0">
    <div class="item">
        <img src="{% static 'loadimg/img/anh1.jpg' %}" />
    </div>
    <div class="item">
        <img src="{% static 'loadimg/img/anh2.jpg' %}" />
    </div>
    <div class="item">
        <img src="{% static 'loadimg/img/anh3.jpg' %}" />
    </div>
</div>
    <div class="box_homepage">
        <div class="row_main">
            <div class="row no-gutters">
                <div class="col-left col-lg-3 set_fixed">
                    <div>
                        <div class="nav_menu_header pc">
                            <span>Combo NHÓM</span>
                        </div>
                        <div id="nav_menu" class="">
                                <nav class="nav" id="menuList">
                                    <a href="Combo1Nguoi.html" class="nav-link active"><span>Tất cả</span></a>
                                </nav>
                        </div>
                    </div>
                </div>
                <div class="col-right col-lg-9" id="menuContent">
                    <div class="row_sp">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h2 class="post-title pc">
                                    <span>Combo Nhóm</span>
                                </h2>
                            </div>
                        </div>
</div>
<div class="kfc_menu_list pc">
<div class="row_sp">
        <div class="row no-gutters">
            {% block content_question_nhom%}
            {% for item in list_nhom%}
            <div class="col-6 col-lg-4">
                <div class="card ">
                    <div class="sp_slider">
                        <img src="/static/loadimg/{{item.Image}}" class="card-img-top" alt="{{item.Food_Name}}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>{{item.Food_Name}}</span></h5>
                        <h6 class="card-price"><span>{{item.Price|floatformat:3}}<small>đ</small></span><em class="old_price">{{item.Old_Price|floatformat:3}}</em></small>đ</small></em></h6>
                            <div class="card-text">

                            <span>
                                <ul>
                                    <li>{{item.Description}}</li>
                                </ul>
                            </span>
                        </div>
                        <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                            <div class="row_btn">
                                <div class="row no-gutters">
                                    <div class="col order-lg-2">
                                        <button data-product="{{item.Id_Food}}" data-action="add" class="button btn_add update_cart" style="width:100%">Đặt hàng</button>
                                    </div>                                                             
                                </div>
                            </div>
                </div>
            </div>
            </div>
            {% endfor %}
            {%endblock%}
    </div>            
        
</div>            
</div>                    
<div class="bigorder_appstore">
    <div class="row">
        <div class="col-12 col-lg-6 left_banner">
            <div class="clearfix">
                <div class="main_link">
                     <img src="{% static 'loadimg/img/anhpr1.png' %}" />
                </div>
            </div>
        </div>
        <br/>
        <div class="col-12 col-lg-6 right_banner">
            <div class="clearfix">
                <div class="main_link">
                    <img style="padding-top:30px;"src="{% static 'loadimg/img/anhpr2.png' %}"/>    
                </div>
            </div>
    
        </div>
    </div>
</div>
</div>
{%endblock content%}