{% extends 'base.html'%}
{% load static %}
{% block content%}
<div class="row_main">
    <div id="sidebar" class="sidebar wap_nav_scroller">
        <div class="sidebar__inner wap_nav_fix">
            <div class="nav-scroller">
                <ul class="nav d-flex justify-content-start mb-0">
                    <li class="nav-item" id="headerMenuCate-14">
                        <a href="{% url 'question' %}" class="nav-link"><span>Combo 1 Người</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuCate-15">
                        <a href="{% url 'question_nhom' %}" class="nav-link"><span>Combo Nhóm</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuCate-13">
                        <a href="{% url 'question_uudai' %}" class="nav-link"><span>Menu Ưu Đãi</span></a>
                    </li>
                    <li class="nav-item" id="headerMenuALaCarte">
                    </li>
                </ul>
            </div>
            <div class="deliver_wap">
                    <div class="ml-auto deliver_box d-flex justify-content-between align-items-lg-center align-items-end">
                        <div class="cot_left row no-gutters set_deliver_hover">
                            <div class="col-12 col-lg-auto deliver_light"><span>Giao hàng đến:</span>
                            </div>
                            <div class="col-12 col-lg-auto deliver_bold"><span  title="Đà Nẵng">Đà Nẵng</span>
                            </div>
                        </div>
                        <div class="cot_right">
                        <div class="clearfix deliver_bold"><a href=""><span>Thay đổi <i class="fas fa-chevron-right"></i></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</header>		  
<section id="homepage">
<div class="container">
    <div class="banner_slider mb-0">
    <div class="item">
        <img src="{% static 'loadimg/img/anh1.jpg' %}" />
    </div>
    <div class="item">
        <img src="{% static 'loadimg/img/anh2.jpg' %}" />
    </div>
    <div class="item">
        <img src="{% static 'loadimg/img/anh3.jpg' %}" />
    </div>
</div>
    <div class="box_homepage">
        <div class="row_main">
            <div class="row no-gutters">
                <div class="col-left col-lg-3 set_fixed">
                    <div>
                        <div class="nav_menu_header pc">
                            <span>Combo NHÓM</span>
                        </div>
                        <div id="nav_menu" class="">
                                <nav class="nav" id="menuList">
                                    <a href="Combo1Nguoi.html" class="nav-link active"><span>Tất cả</span></a>
                                </nav>
                        </div>
                    </div>
                </div>
                <div class="col-right col-lg-9" id="menuContent">
                    <div class="row_sp">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h2 class="post-title pc">
                                    <span>Combo Nhóm</span>
                                </h2>
                            </div>
                        </div>
</div>
<div class="kfc_menu_list pc">
<div class="row_sp">
        <div class="row no-gutters">
            {% block content_question_uudai%}
            {% for item in list_uudai%}
            <div class="col-6 col-lg-4">
                <div class="card ">
                    <div class="sp_slider">
                        <img src="/static/loadimg/{{item.Image}}" class="card-img-top" alt="{{item.Food_Name}}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>{{item.Food_Name}}</span></h5>
                        <h6 class="card-price"><span>{{item.Price}}<small>đ</small></span><em class="old_price">{{item.Old_Price}}<small>đ</small></em></h6>
                            <div class="card-text">
                            <span>
                                <ul>
                                    <li>{{item.Description}}</li>
                                </ul>
                            </span>
                        </div>
                        <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                            <div class="row_btn">
                                <div class="row no-gutters">
                                    <div class="col order-lg-1">
                                            <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/100/combo-ga-ran-a.html');"><span>Tùy chỉnh</span></a>
                                    </div>  
                                    <div class="col order-lg-2">
                                        <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(100,1);"><span>Đặt hàng</span></a>
                                    </div>                                                             
                                </div>
                            </div>
                </div>
            </div>
            </div>
            {% endfor %}
            {%endblock%}
    </div>            
        <!-- <div class="row no-gutters">
            <div class="col-6 col-lg-4">
                <div class="card ">
                    <div class="sp_slider">
                        <a href="javascript:void(0);" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/105/combo-ga-ran-d.html');">
                            <img src="https://kfcvietnam.com.vn/uploads/combo/f2253b127baf48f164fba5c05237974e.jpg" class="card-img-top" alt="COMBO GÀ RÁN D">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>COMBO NHÓM D</span></h5>
                        <h6 class="card-price"><span>180<small>.000đ</small></span><em class="old_price">185<small>.000đ</small></em></h6>
                        <div class="card-text">
                            <span>
                                <ul>
                                    <li>2 Miếng Gà Giòn Cay / 2 Miếng Gà Giòn Không Cay / 2 Miếng Gà Truyền thống</li>
                                    <li>1 Miếng Gà Quay Giấy Bạc / 1 Miếng Gà Quay Tiêu</li>
                                    <li>1 Khoai Tây Chiên (Lớn)</li>
                                    <li>2 Pepsi Lon</li>
                                </ul>
                            </span>
                    </div>
                    <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                            <div class="row_btn">
                                <div class="row no-gutters">
                                    <div class="col order-lg-1">
                                        <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/105/combo-ga-ran-d.html');"><span>Tùy chỉnh</span></a>
                                    </div>  
                                    <div class="col order-lg-2">
                                        <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(105,1);"><span>Đặt hàng</span></a>
                                    </div>                                                             
                                </div>
                            </div>
                </div>
            </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card ">
                    <div class="sp_slider">
                        <a href="javascript:void(0);" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/107/combo-com-b.html');">
                            <img src="https://kfcvietnam.com.vn/uploads/combo/80aa245a5f1a882b945796d00fa04873.jpg" class="card-img-top" alt="COMBO CƠM B">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>COMBO NHÓM E</span></h5>
                        <h6 class="card-price"><span>194<small>.000đ</small></span><em class="old_price">199<small>.000đ</small></em></h6>
                        <div class="card-text">
                        <span>
                            <ul>
                                <li>3 Miếng Gà Giòn Cay / 3 Miếng Gà Giòn Không Cay / 3 Miếng Gà Truyền Thống</li>
                                <li>1 Burger Gà Quay Flava / 1 Burger Zinger</li>
                                <li>1 Khoai Tây Chiên (Lớn)</li>
                                <li>2 Pepsi Lon</li>
                            </ul>
                        </span>
                        </div>
                        <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                        <div class="row_btn">
                            <div class="row no-gutters">
                                <div class="col order-lg-1">
                                <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/107/combo-com-b.html');"><span>Tùy chỉnh</span></a>
                                </div>  
                                <div class="col order-lg-2">
                                    <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(107,1);"><span>Đặt hàng</span></a>
                                </div>                                                             
                        </div>
                        </div>
                </div>
            </div>
        </div>
            <div class="col-6 col-lg-4">
                <div class="card ">
                    <div class="sp_slider">
                        <a href="javascript:void(0);" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');">
                            <img src="https://kfcvietnam.com.vn/uploads/combo/237bb345b19ba88d50aa91016e033deb.jpg" class="card-img-top" alt="COMBO CƠM C">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span>COMBO NHÓM F</span></h5>
                        <h6 class="card-price"><span>199<small>.000đ</small></span><em class="old_price">205<small>.000đ</small></em></h6>
                        <div class="card-text">
                            <span>
                                <ul>
                                    <li>3 Miếng Gà Giòn Cay / 3 Miếng Gà Giòn Không Cay / 3 Miếng Gà Truyền Thống</li>
                                    <li>1 Popcorn (Lớn)</li>
                                    <li>1 Khoai Tây Chiên (Lớn)</li>
                                    <li>2 Pepsi Lon</li>
                                </ul>
                            </span>
                        </div>
                        <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                            <div class="row_btn">
                                <div class="row no-gutters">
                                    <div class="col order-lg-1">
                                        <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');"><span>Tùy chỉnh</span></a>
                                    </div>  
                                <div class="col order-lg-2">
                                    <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(109,1);"><span>Đặt hàng</span></a>
                                </div>                                                             
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row no-gutters">
        <div class="col-6 col-lg-4">
            <div class="card ">
                <div class="sp_slider">
                    <a href="javascript:void(0);" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');">
                        <img src="https://kfcvietnam.com.vn/uploads/combo/4759577e8f6efbde53097ec706db26de.jpg" class="card-img-top" alt="COMBO CƠM C">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span>COMBO GIA ĐÌNH A</span></h5>
                    <h6 class="card-price"><span>349<small>.000đ</small></span><em class="old_price">359<small>.000đ</small></em></h6>
                    <div class="card-text">
                        <span>
                            <ul>
                                <li>8 Miếng Gà Giòn Cay / 8 Miếng Gà Giòn Không Cay / 8 Miếng Gà Truyền Thống</li>
                                <li>2 Khoai Tây Chiên (Lớn)</li>
                                <li>4 Pepsi Lon</li>
                            </ul>
                        </span>
                    </div>
                    <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                        <div class="row_btn">
                            <div class="row no-gutters">
                                <div class="col order-lg-1">
                                    <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');"><span>Tùy chỉnh</span></a>
                                </div>  
                            <div class="col order-lg-2">
                                <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(109,1);"><span>Đặt hàng</span></a>
                            </div>                                                             
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-4">
        <div class="card ">
            <div class="sp_slider">
                <a href="javascript:void(0);" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');">
                    <img src="https://kfcvietnam.com.vn/uploads/combo/0646342ebaf0a9a188573c63b867fea6.jpg" class="card-img-top" alt="COMBO CƠM C">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><span>COMBO GIA ĐÌNH B</span></h5>
                <h6 class="card-price"><span>349<small>.000đ</small></span><em class="old_price">359<small>.000đ</small></em></h6>
                <div class="card-text">
                    <span>
                        <ul>
                            <li>5 Miếng Gà Giòn Cay / 5 Miếng Gà Giòn Không Cay / 5 Miếng Gà Truyền Thống</li>
                            <li>2 Burger Gà Quay Flava / 2 Burger Zinger</li>
                            <li>2 Khoai Tây Chiên (Lớn)</li>
                            <li>3 Pepsi Lon</li>
                        </ul>
                    </span>
                </div>
                <a class="btn_expand"><i class="fal fa-angle-down"></i></a>
                    <div class="row_btn">
                        <div class="row no-gutters">
                            <div class="col order-lg-1">
                                <a href="javascript:void(0);" class="button btn_custom" onclick="checkBeforeCustomizeCombo('https://kfcvietnam.com.vn/vi/chi-tiet-thuc-don/109/combo-com-c.html');"><span>Tùy chỉnh</span></a>
                            </div>  
                        <div class="col order-lg-2">
                            <a href="javascript:void(0);" class="button btn_add" onclick="addDefaultToCart(109,1);"><span>Đặt hàng</span></a>
                        </div>                                                             
                        </div>
                    </div>
        </div>
    </div>
</div> 
</div> -->
</div>            
</div>                    
<div class="bigorder_appstore">
    <div class="row">
        <div class="col-12 col-lg-6 left_banner">
            <div class="clearfix">
                <div class="main_link">
                     <img src="{% static 'loadpage/img/anhpr1.png' %}" />
                </div>
            </div>
        </div>
        <br/>
        <div class="col-12 col-lg-6 right_banner">
            <div class="clearfix">
                <div class="main_link">
                    <img style="padding-top:30px;"src="{% static 'loadpage/img/anhpr2.png' %}"/>    
                </div>
            </div>
    
        </div>
    </div>
</div>
</div>
{%endblock content%}