<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán | KDC</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="static/loadimg/style/reset.css">
    <link rel = "icon" href = 
    "./static/loadimg/img/logo.png" 
      type = "image/x-icon">
    <!-- SLICK SLIDER -->
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- STYLES -->
    <link rel="stylesheet" href="static/loadimg/style/style.css">
</head>


<body>
    
    <section class="purchase row--base">
        <div class="order-info">
            <a class="navbar-brand">
                <img class="pc" src="static/loadimg/img/logo.png">
            </a>
            <div class="order-info__item">
                <p>Thông tin liên hệ</p>
                <input type="text" placeholder="Số điện thoại">
            </div>
            <div class="order-info__item">
                <p>Địa chỉ giao hàng</p>
                <input type="text" placeholder="Họ và tên">
                <input type="text" placeholder="Địa chỉ">
                <input type="text" placeholder="Thành phố">
            </div>
            <div class="order-ctrl">
                <button class="btn btn-secondary">
                    Thanh toán 
                </button>
                <a href="">Trở về giỏ hàng</a>
            </div>

        </div>
        <div class="order-detail">
            <div class="order__list">
                <div class="order__item row">
                    <div class="order__item-img">
                        <img src="./img/book-1.jpg" alt="">
                        <span>1</span>
                    </div>
                    <h3>It e Nghia map</h3>
                    <p class="order__item-price">
                        $135.00
                    </p>
                </div>
                <div class="order__item row">
                    <div class="order__item-img">
                        <img src="./img/book-2.jpg" alt="">
                        <span>2</span>
                    </div>
                    <h3>It e Nghia map</h3>
                    <p class="order__item-price">
                        $135.00
                    </p>
                </div>
                <div class="order__item row">
                    <div class="order__item-img">
                        <img src="./img/book-1.jpg" alt="">
                        <span>3</span>
                    </div>
                    <h3>It e Nghia map</h3>
                    <p class="order__item-price">
                        $135.00
                    </p>
                </div>
            </div>
            <div class="order-discount row">
                <input type="text" placeholder="Discount code">
                <button class="btn btn-secondary">Apply</button>
            </div>
            <div class="order-total">
                <p class="row">Tổng: <span>$200.00</span></p>
                <p class="row">Giảm giá: <span>0%</span></p>
                <p class="row">Thành tiền: <span>$160.00</span></p>
            </div>
            <img src="./img/payment-method.png" alt="">
        </div>
    </section>
</body>

</html>