{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="login-box">
	<div class="title-box">
		<h2>Đăng ký</h2>
	</div>
	<div class="styled-form">
		<form method="POST" action="">
			{% csrf_token%}
			<div class="form-group">
				<label>Tên tài khoản</label>
				{{form.username}}
			</div>
			<div class="form-group">
				<label>Email</label>
				{{form.email}}
			</div>
			<div class="form-group">
				<label>Mật khẩu</label>
				{{form.password1}}
			</div>
			<div class="form-group">
				<label>Xác nhận lại mật khẩu</label>
				{{form.password2}}
			</div>
		
			<div class="form-group text-center">
				<button type="submit" class="theme-btn btn-style-three"><span class="txt">Đăng ký <i
							class="fa fa-angle-right"></i></span></button>
			</div>
			{{form.errors}}
			
			<div style="position:relative;">
				<hr style="height:1px;border:none;color:#333;background-color:#333;"/>
				<div class="or" >
					<span class="txt" style="padding-left:47%; font-size: 16px; font-weight: bold;">hoặc</span>
				</div>
				
			</div>
		
			<div class="another-choices" style="margin-top:10px;">
				<button type="button" class="btn-another">
					<img src="./img/icons/google.png" height="40px" width="40px" style="text-align:left">
					<span class="txt" style="padding-left:60px">Đăng ký bằng tài khoản Google</span>
		
				 
				</button>
				<button type="button" class="btn-another">
					<img src="./img/icons/fb.png" height="40px" width="40px">
						<span class="txt"style="padding-left:50px">Đăng ký bằng tài khoản Facebook</span>

					
				</button>
			</div>
			<div class="form-group">
				<div class="users">Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></div>
			</div>
		</form>
	</div>

</div>
{%endblock content%}