<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <title>Giỏ hàng | KDC</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="static/loadimg/style/reset.css">
    <link rel = "icon" href = 
    "./static/loadimg/img/logo.png" 
      type = "image/x-icon">
    <!-- SLICK SLIDER -->
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- STYLES -->
    <link rel="stylesheet" href="static/loadimg/style/style.css">
</head>

<body>
    

    <!-- CART -->
    <section class="shopping-cart">
        <div class="container row--base">
            <div class="cart-container">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Món ăn</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="./img/book-1.jpg" alt=""></td>
                            <td>
                                <h4>It e nghia map</h4>
                                <p>Armani</p>
                            </td>
                            <td>$45.00</td>
                            <td>
                                <div class="cart-quantity">
                                    <i class="fa fa-chevron-down"></i>
                                    <span>1</span>
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                            </td>
                            <td>
                                $45.00
                                <p class="cart-remove"><i class="fa fa-trash"></i> Xóa</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="./img/book-2.jpg" alt=""></td>
                            <td>
                                <h4>It e nghia map</h4>
                                <p>Armani</p>
                            </td>
                            <td>$45.00</td>
                            <td>
                                <div class="cart-quantity">
                                    <i class="fa fa-chevron-down"></i>
                                    <span>1</span>
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                            </td>
                            <td>
                                $45.00
                                <p class="cart-remove"><i class="fa fa-trash"></i> Xóa</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="./img/book-1.jpg" alt=""></td>
                            <td>
                                <h4>It e nghia map</h4>
                                <p>Armani</p>
                            </td>
                            <td>$45.00</td>
                            <td>
                                <div class="cart-quantity">
                                    <i class="fa fa-chevron-down"></i>
                                    <span>1</span>
                                    <i class="fa fa-chevron-up"></i>
                                </div>
                            </td>
                            <td>
                                $45.00
                                <p class="cart-remove"><i class="fa fa-trash"></i> Xóa</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="cart-container-ctrl row">
                    <button class="btn">Quay lại trang chủ</button>
                    <button class="btn btn-danger">Xóa tất cả</button>
                </div>
            </div>
            <div class="check-out">
                <div class="order-summary">
                    <h3>
                        Tổng kết đơn đặt
                    </h3>
                    <div class="subtotal">
                        <p class="row">Số món: <span>3</span></p>
                        <p class="row">Tổng tiền: <span>$390.00</span></p>
                        <button class="btn btn-secondary">
                            Tiếp tục thanh toán
                        </button>
                    </div>
                </div>
                <!-- <div class="payment-method">
                    <h3>Payment Method</h3>
                    <div class="method">
                        <img src="./img/payment-method.png" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </section>
</body>

</html>